<html>
	<head>
		<title>Create New Restaurant</title>		
		
	</head>
	
	<body>	
		
		
			<h1>Upload a photo</h1><hr>
			
			<form action="showPhotoDetail" method="post" enctype="multipart/form-data">
			
				<span class="input-group-text" >title</span>
				<input type="text" class="form-control" name="title" aria-describedby="basic-addon1" required>
				
				</br></br>
				<span class="input-group-text">description</span>				
				<input type="text" class="form-control" name="description" aria-describedby="basic-addon1">
				
				</br></br>
				
				
					
				
				
				
				 
				<span class="input-group-text" >Photo</span>
				 
				  <div class="custom-file">
					&emsp;<input type="file" name="photoupload" caccept="image/*">				
				  </div>
				</br></br>
				<p>
					<input type="submit" value="Submit">
					
	
				</p>
			</form>
			
			
	</body>	
</html>
